server {

	# setup project environment variables;
	set $root /Users/[username]/path/to/wordpress;
	set $db_name '';
	set $db_user '';
	set $db_password '';
	set $db_host 127.0.0.1;
	set $db_port 3306;

	listen       	8080;
	server_name  	localhost;
	error_log 		stderr;
	root   			$root;

	location ~ \.php$ {
		root  $root;
		fastcgi_pass   127.0.0.1:9000;
		fastcgi_index  index.php;
		fastcgi_param  SCRIPT_FILENAME $root/$fastcgi_script_name;
		fastcgi_param DB_NAME $db_name;
		fastcgi_param DB_USER $db_user;
		fastcgi_param DB_PASSWORD $db_password;
		fastcgi_param DB_HOST $db_host;
		fastcgi_param DB_PORT $db_port;
		include        fastcgi_params;
	}

  location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar)$ {
    try_files $uri =404;
  }

	location ~ /\. {
		deny all;
	}

	# include project nginx.conf
	include /Users/[username]/path/to/wordpress/nginx.conf;
}
