$column-gutter: $gutter;

.bricklayer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  .bricklayer-column-sizer {
    width: 100%;
    display: none;

    @media screen and (min-width: 640px) {
      width: 50%;
    }

    @media screen and (min-width: 980px) {
      width: 33.333%;
    }

    @media screen and (min-width: 1200px) {
      width: 25%;
    }

  }

  .bricklayer-column {
    flex: 1;
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

}

.bricklayer.full-width {
  .bricklayer-column-sizer {
    width: 100%;
    @media screen and (min-width: 640px) {
      width: 100%;
    }
    @media screen and (min-width: 980px) {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
    }

  }
}