header {
	position: relative;
	z-index: 3;
	padding: $margin 0;
	.title,
	nav a {
		font-family: $h6-font-family;
		text-transform: $h6-text-transform;
		font-size: $h6-font-size;
		font-weight: $h6-font-weight;
		line-height: 1em;
		letter-spacing: $h6-letter-spacing;
		@include font-smooth($h6-font-smoothing);
	}
	nav {
		ul {
			line-height: 1em;
		}
		a {
			color: $light-text-color;
			&:hover {
				color: $text-color;
			}
		}
	}
}