.menu-open {
	
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 4;
	min-height: $header-height;
	padding: $margin 0;
	background: $bg-color;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	animation-duration: .75s;
  animation-fill-mode: both;
  .toggle-menu {
  	cursor: pointer;
  	padding: .5rem;
  	margin: -12px 0 -.5rem;
  }
	.c-inner-header {
		width: 100%;
	}
	.current_page_item {
		pointer-events: none;
		cursor: pointer;
	}
	.nav-main {
		height: 0;
		overflow: hidden;
		transition: height $md-speed $ease;
	}
	.title,
	nav ul {
		line-height: 1em;
		display: inline-block;
		font-family: $h6-font-family;
		text-transform: $h6-text-transform;
		font-size: $h6-font-size;
		font-weight: $h6-font-weight;
		@include font-smooth($h6-font-smoothing);
		//
		animation-duration: .75s;
	  animation-fill-mode: both;
	  @include respond-smaller-than($sm) {
	  	font-size: $h1-font-size;
			font-weight: $h1-font-weight
	  }
	}
	nav {
		ul {
			font-family: $h6-font-family;
			text-transform: $h6-text-transform;
			font-size: $h6-font-size;
			font-weight: $h6-font-weight;
			line-height: 1em;
			li {
				font-size: 1em;
				line-height: 1em;
				@include respond-smaller-than($sm) {
			  	font-size: $h3-font-size;
			  }
				a {
					font-size: 1em;
					line-height: 1em;
					@include respond-smaller-than($sm) {
				  	font-size: $h3-font-size;
				  }
				}
			}
		}
		a {
			color: $light-text-color;
			transition: color $slow-speed $ease;
			&:hover {
				color: $text-color;
			}
		}
	}
	.material-icons {
		&.menu-icon {
			@include respond-smaller-than($sm) {
		  	font-size: $h1-font-size;
				font-weight: $h1-font-weight;
				margin: -25px 0 -.5rem;
				padding-right: 0;
		  }
		}
	}
}

.home-page > header {
	// height: 100vh;
	// animation-name: grow-header;
	min-height: 100vh;
	animation-name: header-fade-in;
	.title {
		font-size: $h1-font-size;
		// font-family: $h1-font-family;
		// text-transform: $h1-text-transform;
		// font-size: $h1-font-size;
		// font-weight: $h1-font-weight;
		// letter-spacing: $h1-letter-spacing;
		// @include font-smooth($h1-font-smoothing);
		// animation-name: grow-header-title;
	}
	nav ul {
		font-size: $h3-font-size;
		// font-family: $h3-font-family;
		// text-transform: $h3-text-transform;
		// font-size: $h3-font-size;
		// font-weight: $h3-font-weight;
		// letter-spacing: $h3-letter-spacing;
		// @include font-smooth($h3-font-smoothing);
		// animation-name: grow-header-links;
	}
}

.is-exiting.home header {
	animation-name: header-fade-out;
	// .title {
	// 	animation-name: shrink-header-title;
	// }
	// nav ul {
	// 	animation-name: shrink-header-links;
	// }
}

@keyframes header-fade-in {
	100% {
		opacity: 1;
		visibility: visible;
	}
	0% {
		opacity: 0;
	}
}

@keyframes header-fade-out {
	100% {
		opacity: 0;
	}
	0% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes shrink-header {
	100% {
		min-height: $header-height;
	}
	0% {
		min-height: 100vh;
	}
}

@keyframes shrink-header-title {
	100% {
		font-size: $h6-font-size;
	}
	0% {
		font-size: $h1-font-size;
	}
}

@keyframes shrink-header-links {
	100% {
		font-size: $h6-font-size;
	}
	0% {
		font-size: $h3-font-size;
	}
}

@keyframes grow-header {
	0% {
		min-height: $header-height;
	}
	100% {
		min-height: 100vh;
	}
}

@keyframes grow-header-title {
	0% {
		font-size: $h6-font-size;
	}
	100% {
		font-size: $h1-font-size;
	}
}

@keyframes grow-header-links {
	0% {
		font-size: $h6-font-size;
	}
	100% {
		font-size: $h3-font-size;
	}
}