$spinner-size : 16px;
$loader-weight : 2px;

$loader-weight: 2px;
$tiny-loader-size: 12px;
$small-loader-size: 16px;
$medium-loader-size: 24px;
$large-loader-size: 36px;

* {
	box-sizing: border-box;
}

.spinner {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
	svg {
		width: $small-loader-size;
		height: $small-loader-size;
		padding: $loader-weight / 2;
		display: block;
		animation: rotate 1.5s ease-in-out infinite;
		circle {
			fill: transparent !important;
			stroke-dasharray: 1%, 320%;
			stroke-dashoffset: 0;
			animation: loader-dash 1.5s ease-in-out infinite;
			stroke-width: ($loader-weight / $small-loader-size * 10) * $loader-weight;
			stroke: currentcolor;
			transition: stroke $md-speed $ease;
		}
	}
	&.simple {
		svg {
			animation: rotate .75s linear infinite;
			circle {
				animation: none;
				stroke-dasharray: 145%, 540%;
				// stroke-dashoffset: -85%;
			}
		}
	}
	&.complete {
		color: $success;
		svg {
			animation: none;
			circle {
				animation: none;
				stroke-dasharray: 0;
				stroke: $success;
			}
		}
		&:after {
			content: 'done';
			@include material-icons();
			font-size: 24px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -12px;
			opacity: 0;
			transform: scale(.75);
			animation: transition-in $slow-speed .1s $ease forwards;
		}
	}
	&.tiny {
		svg {
			width: $tiny-loader-size;
			height: $tiny-loader-size;
			circle {
				stroke-width: ($loader-weight / $tiny-loader-size * 10) * $loader-weight;
			}
		}
	}
	&.medium {
		svg {
			width: $medium-loader-size;
			height: $medium-loader-size;
			circle {
				stroke-width: ($loader-weight / $medium-loader-size * 10) * $loader-weight;
			}
		}
	}
	&.large {
		svg {
			width: $large-loader-size;
			height: $large-loader-size;
			circle {
				stroke-width: ($loader-weight / $large-loader-size * 10) * $loader-weight;
			}
		}
	}
}

@keyframes loader-dash {
  0% {
		stroke-dasharray: 1%, 320%;
		stroke-dashoffset: 0;
  }
  50% {
		stroke-dasharray: 235%, 420%;
		stroke-dashoffset: -85%;
  }
  100% {
  	stroke-dasharray: 235%, 420%;
		stroke-dashoffset: -310%;
  }
}