body.open-modal {
	header {
		z-index: 0;
	}
}

.modal-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	visibility: hidden;
	opacity: 0;
	transition: opacity $md-speed $ease, visibility $md-speed $ease;
	@include respond($md) {
		// padding-top: $gutter;
		// padding-bottom: $gutter;
	}
	&.video-modal {
		.modal {
			padding: 0;
			background: transparent;
			width: $site-width;
		  max-width: $max-site-width;
		  @include respond($lg) {
		    width: calc(100% - #{$margin} * 2);
		  }
			.close-modal {
				@include respond($md) {
					position: fixed;
					right: 1rem;
					top: 1rem;
					color: $text-color;
					&:hover {
						color: $light-text-color;
					}
				}
			}
		}
		.lazy-wrap {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.overlay {
			background: $bg-color;
		}
	}
	&.photo-modal {
		.modal {
			padding: 0;
			margin: 0;
			background: transparent;
			width: 100%;
			height: 100%;
		  max-width: $max-site-width;
		  
			.close-modal {
				position: fixed;
				right: 1rem;
				top: 1rem;
				color: $text-color;
				&:hover {
					color: $light-text-color;
				}
			}
		}
		.lazy-wrap {
			// background-size: cover;
			// background-position: center;
			// background-repeat: no-repeat;
		}
		.overlay {
			background: $bg-color;
		}
	}
	&.photo-modal {
		display: none;
	}
	&.film-modal {
		.modal {
			padding: 0;
			margin: 0;
			background: transparent;
			width: 100%;
		  max-width: $max-site-width;
		  @include respond($md) {
		  	height: 100%;
		  }
		  .close-modal {
				position: fixed;
				right: 1rem;
				top: 1rem;
				color: $text-color;
				&:hover {
					color: $light-text-color;
				}
			}

			.arrow-nav {
				.prev-arrow {
					display: block !important;
					cursor: pointer;
					position: absolute;
					bottom: -20%;
					left: 2%;
					z-index: 6;
				}
				.next-arrow {
					display: block !important;
					cursor: pointer;
					position: absolute;
					bottom: -20%;
					right: 2%;
					z-index: 6;
				}
			}
		}
	}
	.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background: $bg-color;
		opacity: 1;
	}
	&.open {
		opacity: 1;
		visibility: visible;
		&.modal-signup {
			.modal {
				transform: none;

			}
		}
	}
	.modal {
		position: relative;
		z-index: 2;
		background: $bg-color;
		max-width: 55rem;
		padding: $mobile-margin;
		margin: auto;
		display: none;
		opacity: 0;
		transition: opacity $md-speed $ease, transform $md-speed $ease;
		&.visible {
			opacity: 1;
			display: block;
		}
		@include respond($md) {
			width: calc(100% - #{$mobile-margin} * 2);
			padding: $gutter;
		}
		@include respond($lg) {
			padding: $gutter * 1.5;
		}
		.close-modal {
			transition: color $md-speed $ease, background $md-speed $ease;
			cursor: pointer;
			z-index: 1;
			position: absolute;
			top: 0;
			right: -40%;
			width: auto;
			height: auto;
			left: auto;
			bottom: auto;
			box-shadow: none;
			padding: 10px;
			background: transparent;
			border-radius: 0;
			color: $text-color;
			&:hover {
				color: $light-text-color;
				background: transparent;
			}
			.material-icons {
				font-size: 24px;
			}
		}
		&.mobile-photo-modal {
			height: 100%;
			.slide {
				height: 100%;
				padding: 0;
				@include respond($md) {
	    		padding: 0 $margin;
	    	}
				.slide-content {
		    	width: 100%;
		    	height: 100%;
					display: flex;
		    	flex-direction: column;
		    	padding: $mobile-margin 0;
		    	@include respond($md) {
		    		padding: $margin;
		    	}
					.video-wrap,
					.image-wrap {
			    	width: 100%;
						flex-grow: 3;
			    	flex-shrink: 0;
			    	position: relative;
						img {
							position: absolute;
			    		width: 100%;
			    		height: 100%;
			    		top: 0;
			    		left: 0;
			    		right: 0;
			    		bottom: 0;
			    		object-fit: contain;
						}
					}
					.video-wrap {
						flex-shrink: 1;
						padding-bottom: 0;
					}
					.caption {
						width: 100%;
						min-width: 100%;
						flex-grow: 0;
						flex-shrink: 0;
						padding-top: $margin;
						// padding-bottom: $margin;
					}
				}
			}

		}
	}
}


.film-modal,
.photo-modal {
	@include respond-smaller-than($md) {
		*:focus {
			outline: none;
		}
	}
	.modal {
		@include respond-smaller-than($md) {
			.photo-slideshow {
				display: none;
			}
		}
		.film-slideshow {
			@include respond-smaller-than($md) {
				height: 100%;

				.slick-list {
					height: 100%;
					.slick-track {
						height: 100%;
						.slick-slide {
							 -webkit-backface-visibility: hidden;
							&:focus {
								outline: none;
							}
							> div {
								height: 100%;
							}

							.slide {
								height: 100%;
								padding: 0;
								@include respond($md) {
					    		padding: 0 $margin;
					    	}
								.slide-content {
						    	width: 100%;
						    	height: 100%;
									display: flex;
						    	flex-direction: column;
						    	padding: $mobile-margin 0;
						    	@include respond($md) {
						    		padding: $margin;
						    	}
									.video-wrap {
							    	// width: 100%;
										flex-grow: 3;
							    	flex-shrink: 0;
							    	position: relative;
										padding-bottom: 56.25%;
										overflow: hidden;
										iframe {
											position: absolute;
											top: 0;
											// right: 0;
											// bottom: 0;
											left: 0;
									    width: 100%;
									    height: 100%;
									    display: block;
										}
									}
									// .video-wrap {
									// 	flex-shrink: 1;
									// 	padding-bottom: 0;
									// }
									.caption {
										width: 100%;
										min-width: 100%;
										flex-grow: 0;
										flex-shrink: 0;
										padding-top: $margin;
										// padding-bottom: $margin;
									}
								}
							}
						}
					}
				}

			}
		}
		@include respond($md){
			.film-slideshow,
			.photo-slideshow {
				height: 100%;
				.slick-list {
					height: 100%;
					.slick-track {
						height: 100%;
						.slick-slide {
							@include respond-smaller-than($md) {
								// float: none;	
								img{
									display: none;
								}
								&.slick-current,
								&.slick-active {
									// left: 0 !important; position: absolute !important; top: 0 !important;
									img {
										display: block;
									}
								}
							}
							&:focus {
								outline: none;
							}
							> div {
								height: 100%;
							}
							.slide {
								height: 100%;
								padding: 0;
								@include respond($md) {
					    		padding: 0 $margin;
					    	}
								.slide-content {
						    	width: 100%;
						    	height: 100%;
									display: flex;
						    	flex-direction: column;
						    	padding: $mobile-margin;
						    	@include respond($md) {
						    		padding: $margin;
						    	}
									.video-wrap,
									.image-wrap {
							    	width: 100%;
										flex-grow: 1;
							    	flex-shrink: 0;
							    	position: relative;
										img {
											position: absolute;
							    		width: 100%;
							    		height: 100%;
							    		top: 0;
							    		left: 0;
							    		right: 0;
							    		bottom: 0;
							    		object-fit: contain;
										}
									}
									.video-wrap {
										flex-shrink: 1;
										padding-bottom: 0;
									}
									.caption {
										width: 100%;
										min-width: 100%;
										flex-grow: 0;
										flex-shrink: 0;
										padding-top: $margin;
										// padding-bottom: $margin;
									}
								}
							}
						}
					}
				}
			}
		}
		.arrow-nav {
			.prev-arrow {
				display: none !important;
				@include respond($md) {
					display: block !important;
					cursor: pointer;
					position: absolute;
					top: 50%;
					left: 2%;
					z-index: 6;
				}
			}
			.next-arrow {
				display: none !important;
				@include respond($md) {
					display: block !important;
					cursor: pointer;
					position: absolute;
					top: 50%;
					right: 2%;
					z-index: 6;
				}
			}
		}
	}
}

// .film-modal {
// 	.modal {
// 		.arrow-nav {
// 			.prev-arrow,
// 			.next-arrow {
// 				display: block !important;
// 			}
// 		}
// 	}
// }

.film-slideshow {
	.slide {
		.lazy-wrap {
			background: transparent;
		}
	}
}


