.page-loader {
	// transition: opacity $md-speed $ease, visibility $md-speed $ease;

	&.loaded {
		opacity: 0;
		visibility: hidden;
	}
}

.home-page {
	.page-loader {
		header {
			background: red;
		}
	}
}

.animsition {
	z-index: 1;
}