{{ function('wp_footer') }}

<!-- <div class="page-loader">
	{% include 'partials/header.twig' %}
</div> -->

<script src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/assets/js/main.js"></script>