{% block header %}
	<header>
		<div class="c-inner-header">
			<div class="container">
				<a class="home-link title transition-link" href="{{site.url}}" rel="home" title="{{site.name}}">
					Matt Sukkar
				</a>
				<nav id="nav-main" class="nav-main" role="navigation">
					{% include "partials/menu.twig" with {'menu': main_navigation.get_items} %}
				</nav>
			</div>
		</div>
	</header>
{% endblock %}