{% block header %}
	<header>
		<div class="c-inner-header">
			<div class="container">
				<a class="home-link title transition-link" href="{{site.url}}" rel="home" title="{{site.name}}">
					Matt Sukkar
				</a>
				<div class="material-icons menu-icon toggle-menu">menu</div>
				<nav id="nav-main" class="nav-main" role="navigation">
					{% include "partials/menu.twig" with {'menu': main_navigation.get_items} %}
				</nav>
				
				<div class="toggle-view mb-2 hide-lg">
					<div class="grid-flex no-break right gutter-none">
						<div class="col">
							<div class="toggle-item toggle-grid active">
								{% include 'icons/grid.svg' %}
							</div>
						</div>
						<div class="col">
							<div class="toggle-item toggle-full">
								{% include 'icons/full-view.svg' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}