{# NOT HOOkED UP #}

<section class="home-support-us py-margin">
	<div class="container">
		<h4 class="h1 bg-color">Support us</h4>
		<p class="lg medium-weight bg-color">Donate to help Ascend continue to give our unique liberal arts education</p>
	</div>
	<div class="background"></div>
</section>