{% extends "base.twig" %}

{% block content %}

<div class="contact-page">
	<div class="container">
		<div class="grid-flex break-xlg right">
			<div class="col-6 stagger-in-items">
				
				<div class="p xlg rich-text mb-4 pb-4">
					{{ post.content }}
				</div>
				
				{% for link in post.get_field('contact_links') %}
					{% if link.email %}
						{% if link.link_header %}
							<h6 class="mt-4">{{ link.link_header }}</h6>
						{% endif %}
						<p class="xlg">
							<a href="mailto:{{ link.email }}" class="light-text-color">{{ link.email }}</a>
						</p>
					{% endif %}
				{% endfor %}

			</div>
		</div>
	</div>
</div>

{% endblock %}
