{% extends "base.twig" %}

{% block content %}

<div class="container">
	<div class="grid-flex break-lg right">
		<div class="col-6 stagger-in-items">
			<div class="p xlg rich-text mb-4 pb-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed eleifend diam, at vestibulum leo. Suspendisse eu sem consequat, tempor tortor sed, vulputate neque.</p>
			</div>
			<div class="mb-4">
				<h6>General</h6>
				<p class="xlg"><a href="" class="light-text-color">info@msukkar.com</a></p>
			</div>
			<div class="mb-4">
				<h6>Representation</h6>
				<p class="xlg"><a href="" class="light-text-color">info@msukkar.com</a></p>
			</div>
		</div>
	</div>
</div>

<div class="stagger-in-3">
		{% include "components/block-wide-media.twig" with { 
			blockImage : post.contact_image,
			mediaType : post.contact_image
		} %}
</div>

{% endblock %}
