{% extends "base.twig" %}

{% block content %}
	
	<div class="explore-slideshow">
		<div class="slide">
			<div class="slide-cover">
				<img src="http://unsplash.it/2000/1500">
			</div>
		</div>
	</div>

{% endblock %}
