{% extends "attachment.twig" %}

{% block content %}
	<div class="attachment-back-button">
		<a href="/photography" class="material-icons md-24">keyboard_arrow_left
		</a>
	</div>
	<div class="attachment-image-page" >
		<div class="attachment-image-wrapper">
			<img class="attachment-image" src={{img_src}} />
		</div>
		<div class="attachment-image-info">
			<div class="pt-margin align-center caption">
				<p class="medium-weight">{{ img_title }}</p>
				<p>{{ img_caption }}</p>
			</div>
		</div>
	</div>
{% endblock %}