.contact-page {
	.contact-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.rich-text {
			flex-grow: 1;
			flex-shrink: 0;
			max-width: 100%;
		}
		.links {
			flex-grow: 0;
			flex-shrink: 0;
		}

	}
}