.explore-next,
.explore-prev {
	&.hidden {
		display: none !important;
	}
}

.explore-page {
	height: 100%;
	header {
		background: transparent;
	}
	.explore-overlay,
	.explore-more {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background: rgba(0, 0, 0, .5);
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;
		transition: opacity $md-speed $ease, visibility $md-speed $ease;
		// animation: fade-out 1s 3s $ease forwards;
		p {
			&.xlg {
				@include respond-smaller-than($md) {
					max-width: 24rem;
					font-size: 32px;
				}
			}
			&.h6 {
				@include respond($xlg) {
					font-size: 1rem;
				}
				.material-icons {
					margin-top: -3px;
					@include respond($xlg) {
						margin-top: -6px;
					}
				}
			}
		}
		&.hidden {
			opacity: 0;
			visibility: hidden;
		}
	}
	.explore-more {
		pointer-events: all;
		cursor: pointer;
		p {
			&.xlg {
				@include respond($md) {
					max-width: 50rem;
				}
			}
		}
	}
	.next,
	.prev {
		position: fixed;
		z-index: 2;
		background: transparent;
		color: transparent;
		text-indent: -9999px;
		overflow: hidden;
		width: 50%;
		top: 0;
		bottom: 0;
		opacity: .3;
		@include respond-smaller-than($lg) {
			display: none !important;
		}
	}
	.next {
		right: 0;
		background: transparent;
		cursor: e-resize;
	}
	.prev {
		left: 0;
		cursor: w-resize;
	}
	.explore-slideshow {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.slick-track,
		.slick-list,
		.slick-slide,
		.slick-slide > div {
			height: 100%;
		}
		.slide {
			width: 100%;
			height: 100vh;
			height: 100% !important;
			display: flex;
			align-items: stretch;
			justify-content: stretch;
			.slide-landscape {
				width: 100%;
				height: 100%;
				position: relative;
				img {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
					@include respond($lg) {
						object-fit: cover;
					}
				}
			}
			.slide-portrait {
				width: 100%;
				height: 100%;
				position: relative;
				img {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					@include respond($lg) {
						object-fit: contain;
					}
				}
			}
		}
	}

}

@include respond($lg) {
	.explore-page {
		color: $white;
		background: $black;

		header {
			nav li a {
				color: rgba($white, .75);
				&:hover {
					color: $white;
				}
			}
			.current_page_item {
				a {
					color: $white;
				}
			}
		}
		a {
			color: $white;
		}

		.explore-slideshow {
			color: $white;
			background: $black;
		}
	}
}