.explore-page {
	color: $white;
	background: $black;
	height: 100%;
	header {
		z-index: 4;
	}
	.next,
	.prev {
		position: fixed;
		z-index: 2;
		background: transparent;
		color: transparent;
		text-indent: -9999px;
		overflow: hidden;
		width: 50%;
		top: 0;
		bottom: 0;
		opacity: .3;
	}
	.next {
		right: 0;
		background: transparent;
		cursor: e-resize;
	}
	.prev {
		left: 0;
		cursor: w-resize;
	}
	header {
		nav li a {
			color: rgba($white, .75);
			&:hover {
				color: $white;
			}
		}
	}
	a {
		color: $white;
	}
	.explore-slideshow {
		background: $black;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.slide {
			width: 100%;
			height: 100vh;
			display: flex;
			align-items: stretch;
			justify-content: stretch;
			.slide-landscape {
				width: 100%;
				height: 100%;
				position: relative;
				img {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
					@include respond($lg) {
						object-fit: cover;
					}
				}
			}
			.slide-portrait {
				width: 100%;
				height: 100%;
				position: relative;
				img {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					@include respond($lg) {
						object-fit: contain;
					}
				}
			}
		}
	}
}