body.home-page {
	header {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.title {
			font-family: $h1-font-family;
			text-transform: $h1-text-transform;
			font-size: $h1-font-size;
			font-weight: $h1-font-weight;
			letter-spacing: $h1-letter-spacing;
			@include font-smooth($h1-font-smoothing);
		}
		nav li a {
			font-family: $h3-font-family;
			text-transform: $h3-text-transform;
			font-size: $h3-font-size;
			font-weight: $h3-font-weight;
			letter-spacing: $h3-letter-spacing;
			@include font-smooth($h3-font-smoothing);
		}
		.c-inner-header {
			width: 100%;
		}
	}
}