.toggle-view {
	display: none;
	position: absolute;
	top: calc(#{$margin} + 2px);
	right: $margin;
	z-index: 5;
	.toggle-item {
		cursor: pointer;
		padding: 0 ($gutter/2);
		color: $light-text-color;
		transition: color $md-speed $ease;
		&:hover,
		&.active {
			color: $text-color;
		}
		svg {
			display: block;
			* {
				fill: currentColor;
			}
		}
		&.toggle-full {
			padding-right: 0;
		}
	}
}

.photography-page {
	.toggle-view {
		display: block;
		@include respond-smaller-than($sm) {
	    display: none;
	  }
	}

	.staggered-photo-grid {
		margin-left: -$gutter/2;
		margin-right: -$gutter/2;
		display: flex;
		transition: opacity $md-speed $ease, transform $md-speed $ease;
		.col { padding-left: $gutter/2; padding-right: $gutter/2; flex: 1; }
		.col3 { width: 25%; }
		.col4 { width: 33.333%; }
		.col6 { width: 50%; }
		.col12 { 
			@include respond-smaller-than($sm) {
		    padding-left: $gutter/2; 
		    padding-right: $gutter/2;
	  	}
	  	width: 100%; 
	 	}
		.item-caption {
			@include respond($sm) {
				display: none;
			}
		}
		&[data-columns]::before {
			@media screen and (min-width: 1 + px) and (max-width: $sm + px) {
				content: '1 .col12';
			}
			@media screen and (min-width: $sm + px) and (max-width: $md + px) {
				content: '2 .col.col6';
			}
			@media screen and (min-width: $md + px) and (max-width: $lg + px) {
				content: '3 .col.col4';
			}
			@media screen and (min-width: $lg + px) and (max-width: 20000 + px) {
				content: '4 .col.col3';
			}
		}
		&.full-width {
			opacity: 1;
			transform: none;
			margin-left: 0;
			margin-right: 0;
			.item {
				margin-bottom: $margin;
			}
			.item-caption {
				display: block;
			}
			&[data-columns]:before {
				content: '1 .col12';
			}
		}
		&.grid-view {
			opacity: 1;
			transform: none;
			.item {
				@include respond-smaller-than($sm) {
					margin-bottom: $margin;
			  }
				margin-bottom: $gutter;
			}
		}
		&.animate-out {
			opacity: 0;
			transform: translate3d(0, 2.1rem, 0);
		}
	}

	// .photo-modal {
	// 	.modal {
	// 		.arrow-nav {
	// 			.prev-arrow {
	// 				cursor: pointer;
	// 				position: absolute;
	// 				top: 50%;
	// 				left: 5%;
	// 				z-index: 6;
	// 			}
	// 			.next-arrow {
	// 				cursor: pointer;
	// 				position: absolute;
	// 				top: 50%;
	// 				right: 5%;
	// 				z-index: 6;
	// 			}
	// 		}
	// 		.photo-slideshow {
	// 			height: 100%;
	// 			.slick-list {
	// 				height: 100%;
	// 				.slick-track {
	// 					height: 100%;
	// 					.slick-slide {
	// 						> div {
	// 							height: 100%;
	// 						}
	// 						.slide {
	// 							height: 100%;
	// 							.slide-content {
	// 					    	width: 100%;
	// 					    	height: 100%;
	// 								display: flex;
	// 					    	flex-direction: column;
	// 								.image-wrap {
	// 						    	width: 100%;
	// 									flex-grow: 1;
	// 						    	flex-shrink: 0;
	// 						    	position: relative;
	// 									img {
	// 										position: absolute;
	// 						    		width: 100%;
	// 						    		height: 100%;
	// 						    		top: 0;
	// 						    		left: 0;
	// 						    		right: 0;
	// 						    		bottom: 0;
	// 						    		object-fit: contain;
	// 									}
	// 								}
	// 								.caption {
	// 									width: 100%;
	// 									flex-grow: 0;
	// 									flex-shrink: 0;
	// 								}
	// 							}
	// 						}
	// 					}
	// 				}
	// 			}

	// 		}
	// 	}
	// }
}