@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

@font-face {
  font-family: 'MS-Akzidenz';
  src:  url('/assets/fonts/akzidenz/AkzidenzGroteskBE.woff') format('woff'),
        url('/assets/fonts/akzidenz/AkzidenzGroteskBE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MS-Akzidenz';
  src:  url('/assets/fonts/akzidenz/AkzidenzGroteskBEMd.woff') format('woff'),
        url('/assets/fonts/akzidenz/AkzidenzGroteskBEMd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MS-Akzidenz';
  src:  url('/assets/fonts/akzidenz/AkzidenzGroteskBESuper.woff') format('woff'),
        url('/assets/fonts/akzidenz/AkzidenzGroteskBESuper.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

