* {
	outline: none;
}

html,
body {
	background-color: $bg-color;
	overflow: auto;
}

video {
	max-width: 100%;
	height: auto;
	display: block;
}

svg {
	color: currentcolor;
	overflow: visible;
	* {
		transition: fill $md-speed $ease;
		fill: currentcolor;
	}
}

a {
	cursor: pointer;
}

.top-area {
	&.parallax {
		overflow: hidden;
	}
}

.lazy-wrap {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: $light-grey;
	width: 100%;
	img,
	video {
		position: relative;
		opacity: 0;
		transition: opacity .5s $ease;
		z-index: 1;
		display: block;
		width: 100%;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -12px 0 0 -1px;
		width: 2px;
		height: 24px;
		background: $light-text-color;
		animation: rotate 1s $ease infinite;
		z-index: 0;
		transition: opacity 0s 1s $ease;
	}
	&.lazyload {
	}
	&.lazyloaded {
		img, video {
			opacity: 1;
		}
		&:after {
			opacity: 0;
		}
	}
}

// Responsive Hiding
.hide-sm {
	@include respond-smaller-than($sm) {
		display: none;
	}
}
.hide-md {
	@include respond-smaller-than($md) {
		display: none;
	}
}
.hide-lg {
	@include respond-smaller-than($lg) {
		display: none;
	}
}
.hide-xlg {
	@include respond-smaller-than($xlg) {
		display: none;
	}
}
.hide-huge {
	@include respond-smaller-than($huge) {
		display: none;
	}
}

// Responsive Showing
.show-sm {
	@include respond($sm) {
		display: none;
	}
}
.show-md {
	@include respond($md) {
		display: none;
	}
}
.show-lg {
	@include respond($lg) {
		display: none;
	}
}
.show-xlg {
	@include respond($xlg) {
		display: none;
	}
}
.show-huge {
	@include respond($huge) {
		display: none;
	}
}

.dark-bg {
	background: $black;
	color: $white;
	@include font-smooth();
	a {
		&:hover {
			color: $white;
		}
	}
	.light-text-color {
		color: rgba($bg-color, .5);
	}
	hr {
		border-color: lighten($text-color, 7%);
		&.main-color {
			border-color: $main-color;
		}
	}
	.button {
		&.secondary {
			opacity: 1;
	    color: $text-color;
	    background: $white;
	    &:not(.disabled):not(.loading):hover {
	      color: $text-color;
	      background: rgba($white, .75);
	    }
		}
	}
	input[type='text'],
	input[type='email'],
	input[type='number'],
	input[type='password'],
	select {
		color: $bg-color;
		border-bottom: 1px solid rgba($bg-color, .4);
		background: transparent;
		padding-left: 0;
		padding-right: 2rem;
		&::-webkit-input-placeholder {
			color: rgba($bg-color, .6);
		}
		&:-moz-placeholder {
			color: rgba($bg-color, .6);
		}
		&::-moz-placeholder {
			color: rgba($bg-color, .6);
		}
		&:-ms-input-placeholder {
			color: rgba($bg-color, .6);
		}
		&:hover {
			border-color: rgba($bg-color, .6);
		}
		&:focus {
			border-color: $bg-color;
			&::-webkit-input-placeholder {
				color: $placeholder-focus-color;
			}
			&:-moz-placeholder {
				color: $placeholder-focus-color;
			}
			&::-moz-placeholder {
				color: $placeholder-focus-color;
			}
			&:-ms-input-placeholder {
			   color: $placeholder-focus-color;
			}
		}
	}
}

.highlight {
	b,
	strong,
	em,
	i {
		color: $main-color;
	}
}

.accordion {
	.c-header {
		cursor: pointer;
	}
}

.lazy-wrap {
	display: block;
}

.set-ratio {
	position: relative;
	overflow: hidden;
}

.set-ratio-3-2 {
	position: relative;
	overflow: hidden;
	padding-bottom: 66.666%;
}

.set-ratio-2-1 {
	position: relative;
	overflow: hidden;
	padding-bottom: 50%;
}

.set-ratio-sq {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
}

.object-cover,
.lazy-wrap.object-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}