$stagger-time : .45s;
$stagger-delay : .05s;

html {
	overflow-x: inherit;
	overflow-y: inherit;
}

body {
	transition: background $slow-speed $ease, color $slow-speed $ease;
	min-height: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

#main {
	// padding-top: 200px;
	min-height: 100%;
	.page-content {
		min-height: 100vh;
		.wrapper {
			min-height: 100vh;
			padding-top: $header-height;
			transition: transform $md-speed $ease, padding $md-speed $ease;
			padding-top: 102px;
			@include respond-smaller-than($md) {
				padding-top: 105px;
			}
		}
	}
	&.contact {
		.page-content .wrapper {
			padding-top: 0;
		}
	}
}

.container {
	position: static;
}

a {
	color: $text-color; 
	&:hover {
		color: $black;
	}
	&.thumb {
		display: block;
	}
}

.trigger {
	cursor: pointer;
}

.lazy-wrap {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: $light-grey;
	width: 100%;
	img,
	video,
	iframe {
		position: relative;
		opacity: 0;
		transition: opacity .5s $ease;
		z-index: 1;
		display: block;
		width: 100%;
	}
	iframe {
		transition-delay: .3s;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -12px 0 0 -1px;
		width: 2px;
		height: 24px;
		background: $light-text-color;
		animation: rotate 1s $ease infinite;
		z-index: 0;
		transition: opacity 0s 1s $ease;
	}
	&.lazyload {
	}
	&.lazyloaded {
		img, video, iframe {
			opacity: 1;
		}
		&:after {
			opacity: 0;
		}
	}
}

.set-ratio {
	position: relative;
	overflow: hidden;
}

.set-ratio-3-2 {
	position: relative;
	overflow: hidden;
	padding-bottom: 66.666%;
}

.set-ratio-16-9,
.video-wrap {
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%;
	iframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
    width: 100%;
    height: 100%;
    display: block;
	}
}

.set-ratio-2-1 {
	position: relative;
	overflow: hidden;
	padding-bottom: 50%;
}

.set-ratio-sq {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
}

.object-cover,
.lazy-wrap.object-cover img,
.lazy-wrap.object-cover video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nav-stagger-1 { animation: transition-in $stagger-time ($stagger-delay * 1 + 1.25s) $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.nav-stagger-2 { animation: transition-in $stagger-time ($stagger-delay * 2 + 1.25s) $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.nav-stagger-3 { animation: transition-in $stagger-time ($stagger-delay * 3 + 1.25s) $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.nav-stagger-4 { animation: transition-in $stagger-time ($stagger-delay * 4 + 1.25s) $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
